<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- content %>
  <%- include('/artists', { artists: spotify.artists }) %>
  <%- include('/tracks', { tracks: spotify.tracks }) %>
  <small>Updated <%= builtAt %></small>
</body>
</html>
